input[data-toggle] {
  display: none; }

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  background-color: salmon;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

.button-group.toggle li:not(first-child) {
  margin: 0 -0.9rem; }

.top-bar, .top-bar ul {
  background-color: transparent;
}

.l-padding-0 {
  padding: 0;
}

.suggestion-container {
  padding: 0;
  position: absolute;
  z-index:10;
  background: #eee;
  right: 0;
  left: 0;
  max-height: 200px;
  overflow-y: scroll;
}

.suggestion-item {
  position: relative;
  z-index:10;
  cursor: pointer;
  padding: 10px 0 10px 20px;
}

.suggestion-item:hover {
  background-color: salmon;
}

.suggestion-item-focused {
  background-color: salmon;
}

.unit-badge {
  position: absolute;
  right: 0;
  background-color: #666;
}
